*{
    margin: 0;
    padding: 0;
}


.navBar{
    background-color: rgb(228, 141, 141);
    min-height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 15px;
    column-gap: 20px;

}
.navList{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.navList a{
    text-decoration: none;
    color: rgb(10, 10, 10);
    width: 80px;
    padding: 6px 20px;
    border: 4px solid #faf7f7;
    text-align: center;
    border-radius: 20px;
    
}
.navList a:hover{
    background-color:darkred ;
    color:darksalmon;
}
.navProfile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.menuIcon{
    display: none;
}
@media screen  and (max-width:700px){
    .navBar .navList{
        display: none;
    }

    .navBar.active{
        height: 190px;
        align-items: flex-start;
        justify-content: center;

    }
    .navProfile{
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .navBar.active .navList{
        display: grid;
        row-gap: 15px;

    }
    .menuIcon{
        display: block;
        position: absolute;
        left: 15px;
        top: 15px;
    }
    .menuIcon i{
        color: #faf7f7;
        font-size: 30px;
    }
}
.profileBody{
    height: 90vh;
    background-color: rgb(228, 141, 141);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profileImage{
    width: 500px;
    height: 500px;
}
.text1{
    font-size: 30px;
    color: #faf7f7;
}
.text1::first-letter{
    font-size: 50px;
    color: rgb(97, 26, 2);

}
.text2{
    font-size:50px ;
    color: rgb(97, 26, 2);


}
.text3{
    font-size: 25px;
    color: #faf7f7;
    font-style: italic;
}
.skillsList{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 15px;
}
.skillsList p{
    padding: 5px 15px;
    text-align: center;
    width: 100px;
    color: aliceblue;
    background-image: linear-gradient(to right,rgb(97, 26, 2),rgb(244, 167, 141));
    border-radius: 20px;

}
.aboutmeBody{
    width: 70%;
    margin: 15px auto;
}
.title{
    font-size: 25px;
    color: darksalmon;
    text-decoration: underline 3px rgb(97, 26, 2);
    text-align: center;
    font-weight: 10px;
    margin-bottom: 20px;
}
.aboutmeInfo{
    font-size: 18px;
    line-height: 30px;

}